
* {
    margin: 0;
    padding: 0;
 }
 
.bc-nati{
    background-color:white ;
    
}
body {
    background-color: #eca427 ;
}

h1 {
  
   color: white;
   text-align: center;
   font-size: 23px;
   font-weight: bold;
}

/*h2 {
   
   color: white;
   text-align: center;
   font-size: 23px;
   font-weight: bold;
}
*/
/*header*/

.contenedor__header__logo{
   font-family: 'PT Serif', serif;
   font-weight: bold;
   text-decoration: none;
   font-size: 40px ;
   color: chartreuse;
   padding: 5px 30px;
  
}

.contenedor__header__link{
    font-family: 'Nunito', sans-serif;
    color: #eca427;
    
}


 .contenedor__home {
   width: 98%;
   max-width: 1440px;
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   position: relative;
   overflow: hidden;
   cursor: pointer;
 }
  

/*footer*/

.contenedor__piedepagina{
   background-color: white;
}
  .contenedor__piedepagina__lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items:center;
    width: 100%;
    padding: 1em;
 }
  
 .contenedor__piedepagina__lista__imagen{
    width: 2rem;
 }

 .contenedor__piedepagina__lista__link{
    color:#fff;
    text-decoration: none;
 }
 

 /*calculador*/
 h2 {
   
   color: rgba(14, 19, 117, 0.622);
   text-align: center;
   font-size: 23px;
   font-weight: bold;
}

 .contenedor__calculador{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;

 
  
 }

 p {
   color: rgba(27, 33, 143, 0.622);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 23px;

 }
 
 .input_area{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

.input__calculador{
   height: 1,5em;
   width: 10em;
}

 button{
   height: 2em;
   width: 6em;
  
 }

 span {
   color: rgba(14, 19, 117, 0.622);
 }



  
